# Client Server Configuration
PORT=3001
NODE_ENV=development

# Contract Configuration
ADDRESS=0xA7635CdB2B835737FdcE78Ea22F06Fb78101110f
FACILITATOR_URL=http://localhost:5401
AMOY_USDC_ADDRESS=0x41E94Eb019C0762f9Bfcf9Fb1E58725BfB0e7582